#general {
    display: flex;
    flex-direction: row;
    height: calc(100% - 60px);

}
.bloco-desc{
  width: 40%;
  height: 100%;
  margin: 20px 0px;
  padding-left: 50px;
}
.divider{
  width: 100%;
  height: 2px;
  background-color: #16a086;
}
.bloco-info{
  height: 100%;
  width: 100%;
 margin-top: 1%;
}
.info{
  font-size: 16px;
  line-height: 25px;
}
h5{
  font-weight: bold;
}
.img{
  height: 100%;
  margin-top: 5%;
}