<app-header></app-header>
<div id="general">
    <div class="bloco-desc">
        <div>
            <h4>VOU DE BIKE</h4>
        </div>
        <div class="divider"></div>
        <div class="bloco-info">
            <h5>Quem somos?</h5>
            <div class="info">
                O Vou de Bike foi criado a partir de um projeto de faculdade em 2019.
                <br>
                <br>
                Realizado com o intuito de ser uma dashboard de analise de dados para que as pessoas possam ver o quanto
                utilizar bicicletas no dia-a-dia pode ser muito mais vantajoso e saudável do que ficar horas preso no
                trânsito.
            </div>
        </div>
        <div class="bloco-info">
            <h5>Por que bicicletas?</h5>
            <div class="info">
                E nós te respondemos com outra pergunta: e por que não?
                <br>
                <br>
                A primeira bicicleta foi criada em 1874 e até hoje as magrelinhas são utilizadas no mundo todo. Sendo um
                meio de transporte que possui diversas vantagens, ajudando o meio ambiente, agilizando nosso tempo e
                ainda colaborando com nossa qualidade de vida.
                <br>
                <br>
                Nós escolhemos a bicicleta e queremos que você enxergue também o porquê dessa decisão. O Vou de Bike tem
                o intuito de não te dar informações, mas de te convencer que pequenas ações podem mudar o mundo.
            </div>
        </div>
    </div>
    <div class="img">
            <img class="img" src='assets/img/logo_tela_sobre.png'>
    </div>
</div>