#general {
  height: 100%;
  width: 100%;
}
.titulo{
    font-size: 2.3rem;
    color: #414141;
    margin: 2% 0%;
    width: 100%;
    text-align: center;
    height: 5%;
    position: absolute;
}
.tempo-real{
  width: 50%;
  background-color: burlywood;
  height: 100%;
  margin-top: 5%;
  float: left;
}

.tempo-semana{
  width: 50%;
  background-color: #414141;
  height: 100%;
  margin-top: 5%;
  float: right;
  
}
.dias{
   font-size: 18px;
    height: 30px;
    margin-top: 10px;
}
.divider{
  width: 2px;
  height: 30px;
  background-color: #16a086;
  float: left;
  margin-right: 5px;
}
.maxima{
  float: left;
}
.minima{
  margin-left: 5%;
  float: left; 
}
.title-dias{
  float: left;
  margin-left: 20%;
  width: 110px;
}