#general {
  height: 100%;
  width: 100%;
}
.titulo{
    font-size: 2.3rem;
    color: #414141;
    margin: 2% 0%;
    width: 100%;
    text-align: center;
    height: 5%;
    position: absolute;
}
.tempo-real{
  width: 50%;
  height: 100%;
  margin-top: 5%;
  float: left;
  padding: 3% 3% 3% 8%;
}

.tempo-semana{
  width: 45%;
  height: 100%;
  margin-top: 8%;
  float: right;
  padding: 2% 1% 2% 3%
  
}
.dias{
   font-size: 18px;
    height: 30px;
    margin-top: 10px;
}
.divider{
  width: 2px;
  height: 30px;
  background-color: #16a086;
  float: left;
  margin-right: 5px;
}
.maxima{
  float: left;
}
.minima{
  margin-left: 5%;
  float: left; 
}
.title-dias{
  float: left;
  margin-left: 20%;
  width: 110px;
}
.texto-map{
  font-size: 1.5rem;
}

#icon-map{
  color: #16a086;
  margin-right: 5px;
}
.clima-hoje{
  width: 9rem;
  float: left;
}
.temp-hoje{
  font-size: 4rem;
  margin-left: 56%;
}
.desc-hoje{
  font-size: 1.3rem;
  margin-left: 48%;
}
.previsao-hoje{
  width: 65%;
  float: left;
}

.bloco-previsao{
  float: right;
  width: 35%;
  margin-top: 2%;
}
#icon-prev-hoje{
  
  font-weight: bold;
  font-size: 2.5rem;
  margin-right: 7%;
}
.texto-prev-hoje{
  font-size: 1.7rem;
  text-align: center;
  margin-bottom: 0%;
}
.s{
    background-color: #16a086;
    width: 70%;
    height: 2px;
    margin-left: 13%;
}
.table-hoje{
  float: left;
  width: 100%;
  font-size: 0.9rem;
  margin-top: 5%;
}
.icon-vento{
  width: 1rem;
}
.table-itens{
  float: right;
}
.bloco-semana{
  border-width: medium;
  border-style: solid;
  border-radius: 16px;
  border-color: #16a086;
  padding: 0% 3%;
  width: 43%;
  margin-top: 1%;
  float: left;
  margin-right: 2%;
}
.texto-dia-semana{
  width: 20%;
  float: left;
  margin-top: 13%;
  font-size: 1.2rem;
}
.temp{
  width: 60%;
  margin-left: 21%;
}

