<div id="general">
    <div class="titulo">
        <p>Olhe como é fácil ver se o caminho está perfeito hoje!</p>
    </div>
    <div class="tempo-real">
        <div class="previsao-hoje">
            <p class="texto-map"><i class="fa fa-map-marker" id="icon-map"></i>São paulo - SP</p>
            <img class="clima-hoje" src="../assets/img/clima/sol-nuvem.PNG">
            <div class="temp-hoje">{{listClima.temp}}</div>
            <div class="desc-hoje">{{listClima.description}}</div>
        </div>
        <div class="bloco-previsao">
            <h6>Horário:</h6>
            <p class="texto-prev-hoje">
                <!-- <i class="fa fa-angle-up" style="color: brown;" id="icon-prev-hoje"></i> -->
                {{listClima.time}}</p>
            <!-- <div class="s"></div>
            <p class="texto-prev-hoje">
                <i class="fa fa-angle-down" style="color: #323290eb;" aria-hidden="true" id="icon-prev-hoje"></i>
                15º</p> -->
        </div>
        <div class="table-hoje">
            <table class="table table-striped" style=" width: 50%;
            float: inherit; border-right-style: groove;
            border-right-color: #16a086;">
                <tbody>
                    <!-- <tr>
                        <td>
                            <i class="fa fa-tint" aria-hidden="true" style="color:darkcyan"></i>
                            Prob. de Chuva
                            <div class="table-itens">{{listClima.humidity}}%</div>
                        </td>
                    </tr> -->
                    <tr>
                        <td>
                            <img src="../../../assets/img/clima/icon-vento.png" class="icon-vento">
                            Vento
                            <div class="table-itens">{{listClima.wind_speedy}}km/h - NE</div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <i class="fa fa-tint" aria-hidden="true" style="color:darkcyan"></i>
                            Umidade
                            <div class="table-itens">{{listClima.humidity}}%</div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <table class="table table-striped" style="width: 50%; float: right; margin-top: 5%;">
                <tbody>
                    <tr>
                        <td>
                            <img src="../../../assets/img/clima/icon-sunrise.png" class="icon-vento">
                            Nascer do Sol
                            <div class="table-itens">{{listClima.sunrise}}</div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <img src="../../../assets/img/clima/icon-sunset.png" class="icon-vento">
                            Pôr do Sol
                            <div class="table-itens">{{listClima.sunset}}</div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>
    <div class="tempo-semana">
        <div class="bloco-semana" *ngFor="let t of listClima.forecast">
            <h6 style="float: right;">{{t.date}}</h6>
            <h4 class="texto-dia-semana">{{t.weekday}}</h4>
            <div class="temp">
                <p class="texto-prev-hoje">
                    <i class="fa fa-angle-up" style="color: brown;" id="icon-prev-hoje"></i>
                    {{t.max}}º</p>
                <div class="s"></div>
                <p class="texto-prev-hoje">
                    <i class="fa fa-angle-down" style="color: #323290eb;" aria-hidden="true" id="icon-prev-hoje"></i>
                    {{t.min}}º</p>
            </div>
        </div>
    </div>
</div>