<div id="general">

    <div class="calendario">
        <div class="bloco-eventos1">
            <h6>Escolha uma Data:</h6>
            <ngb-datepicker [(ngModel)]="date" [startDate]="date" (select)="onDateSelection($event)"></ngb-datepicker>
        </div>

        <div class="bloco-eventos2">
            <h6 style="float: left; margin-left: 20px;">Eventos:</h6>
            <div class="scrollbar">
                <div class="eventos" *ngFor="let evento of eventos">
                    <div class="dia-evento">
                        <p class="dia">{{ evento.data}}</p>
                    </div>
                    <h6 class="titulo">{{evento.titulo}}</h6>
                    <p class="desc">{{evento.local}}</p>
                    <p class="desc">{{evento.horario}}</p>
                </div>
            </div>
        </div>

    </div>
    <div class="separador"></div>
    <div class="noticias">
        <div class="slide">
            <ngb-carousel>
                <ng-template ngbSlide *ngFor="let slide of noticias">
                    <h5>{{slide.titulo}}</h5>
                    <div class="picsum-img-wrapper">
                        <img src="{{slide.img}}" alt="Random first slide">
                    </div>
                    <div class="desc">
                        <p>{{slide.desc}}</p>
                        <h6>Veja a notícia completa!</h6>
                        <button class="link" (click)="getLink(slide.link)">Ir para a notícia</button>
                    </div>
                </ng-template>
            </ngb-carousel>
        </div>
    </div>