<app-header></app-header>

<div id="general">
  <div class="bloco-carousel">
    <ngb-carousel>
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <img src="../assets/img/home/background-paisagem-tumblr-1.jpg" alt="Random first slide">
        </div>
        <div class="carousel-caption">
          <h3>First slide label</h3>
          <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
        </div>
      </ng-template>
      <ng-template ngbSlide>
              <div class="picsum-img-wrapper">
                <img src="../assets/img/home/wallp-celular-montanhas.jpg" alt="Random second slide">
              </div>
              <div class="carousel-caption">
                <h3>Second slide label</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
              </div>
            </ng-template>
            <ng-template ngbSlide>
              <div class="picsum-img-wrapper">
                <img src="../assets/img/home/tumblr-background-paisagens-7.jpg" alt="Random third slide">
              </div>
              <div class="carousel-caption">
                <h3>Third slide label</h3>
                <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
              </div>
            </ng-template>
    </ngb-carousel>
  </div>
  <div class="bloco-localidade">
    <h5 class="titulo">Estamos em 1 cidade, por enquanto ;)</h5>
    <p class="texto">Sabemos que nós ajudamos pessoas que querem passear, trabalhar ou quer um meio mais rápido
      usando a
      bicicleta. Fornecemos informações reais nessas cidades.</p>
    <button class="botao-cidade" routerLink="/parceiros">São Paulo</button>
  </div>
</div>