.general {
    height: 100%;
    width: 100%;
  }
img{
    width: 100%;
    height: 32rem;
    filter: opacity(80%);
    opacity: 0.3;
}
.bloco-carousel{
    background-color: black;
    width: 100%;
    height: 50%;
    float: left;
}
.bloco-localidade{
    width: 100%;
    height: calc(23.4rem - 0px);
    background-color: #16a086;
    float: left;
    position: relative;
    display: block;
}
.titulo{
    color: #E5E5E5;
    text-align: center;
    margin-top: 2%;
}
.texto{
    color: #E5E5E5;
    width: 60%;
    margin-left: 20%;
    font-size: 1rem;
}
.botao-cidade{
    background-color: #E5E5E5;
    border:none;
    border-radius: 20px;
    color: #414141;
    padding: 10px;
    margin: 1% 0% 1% 20%;
    cursor: pointer;
}
.picsum-img-wrapper{
    height: -moz-calc(23rem - (20px + 30px));
    height: -webkit-calc(23rem - (20px + 30px));
    height: calc(23rem - (20px + 30px));
}
.bloco-texto{
    opacity: 0.8;
    width: 100%;
    height: 4rem;
    border-radius: 37%;
}
a:link, a:visited {
    text-decoration: none;
    color: #ffffff;
	}
a:hover {
	text-decoration: underline; 
	color: #16a086
	}
a:active {
	text-decoration: none
	}
