#general {
    flex-direction: row;
    width: 100%;

}
img{
    height: 400px;
}
.bloco-carousel{
    background-color: black;
    width: 100%;
    height: 50%;
  float: left;
}
.bloco-localidade{
    width: 100%;
    height: 30vh;
    background-color: #16a086;
    float: left;
    position: relative;
}
.titulo{
    color: #E5E5E5;
    text-align: center;
    margin-top: 2%;
}
.texto{
    color: #E5E5E5;
    width: 60%;
    margin-left: 20%
}
.botao-cidade{
    background-color: #E5E5E5;
    border:none;
    border-radius: 20px;
    color: #414141;
    padding: 10px;
    margin: 1% 0% 1% 20%;
    cursor: pointer;
}