<div class="general">
  <div class="bloco-carousel">
    <ngb-carousel>
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <img src="../assets/img/home/bike-1.jpg" alt="Random first slide">
        </div>
        <div class="carousel-caption">
          <div class="bloco-texto">
            <h5>Venha conferir os próximos eventos para você pedalar.</h5>
            <p >Conheça os nossos <a routerLink="/noticia"><b>Eventos</b></a> </p>
          </div>
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <img src="../assets/img/home/bike-2.jpg" alt="Random second slide">
        </div>
        <div class="carousel-caption">
          <div class="bloco-texto">
            <h5>Temos um cupom especial da Centauro para você!</h5>
            <p>Conheça os nossos <a routerLink="/parceiros"><b>Cupons</b></a> </p>
          </div>
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <img src="../assets/img/home/bike-3.jpg" alt="Random third slide">
        </div>
         <div class="carousel-caption">
          <div class="bloco-texto">
            <h5>Que tal vir conferir como está seu trajeto hoje?</h5>
            <p>Conheça os nossos <a routerLink="/mapa"><b>Mapa</b></a> </p>
          </div>
        </div>
      </ng-template>
    </ngb-carousel>
  </div>
  <div class="bloco-localidade">
    <h5 class="titulo">Estamos em 1 cidade, por enquanto ;)</h5>
    <p class="texto">Sabemos que nós ajudamos pessoas que querem passear, trabalhar ou quer um meio mais rápido
      usando a
      bicicleta. Fornecemos informações reais nessas cidades.</p>
    <button class="botao-cidade" routerLink="/mapa">São Paulo</button>
  </div>
</div>