<div class="general">
  <div class="bloco-carousel">
    <ngb-carousel>
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <img src="../assets/img/home/bike-1.jpg" alt="Random first slide">
        </div>
        <!-- <div class="carousel-caption">
          <h3>First slide label</h3>
          <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
        </div> -->
      </ng-template>
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <img src="../assets/img/home/bike-2.jpg" alt="Random second slide">
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <img src="../assets/img/home/bike-3.jpg" alt="Random third slide">
        </div>
      </ng-template>
    </ngb-carousel>
  </div>
  <div class="bloco-localidade">
    <h5 class="titulo">Estamos em 1 cidade, por enquanto ;)</h5>
    <p class="texto">Sabemos que nós ajudamos pessoas que querem passear, trabalhar ou quer um meio mais rápido
      usando a
      bicicleta. Fornecemos informações reais nessas cidades.</p>
    <button class="botao-cidade" routerLink="/parceiros">São Paulo</button>
  </div>

</div>