<div id="general">
    <div class="x">
        <div class="y">
            <div class="card">
                <div class="card-body">
                    <div>Formato do campo: Endereço, Número do local, SP</div>
                    <div class="input-group">
                        <input id="dateOfBirth" class="form-control" title="Ex: Rua xx, 10, SP " placeholder="Pesquisar ou escolher o ponto de partida..."
                            [(ngModel)]="enderecoOrigem">
                        <button *ngIf="ativarBtnRota == false" (click)="btnVoltar()" placement="right" ngbTooltip="Voltar." class="rota cancelar"><i class="fa fa-sign-out"
                                aria-hidden="true"></i></button>
                        <div *ngIf="ativarBtnRota" style="height: 100%;">
                            <button class="pesquisa" (click)="pesquisaLocal()" ngbTooltip="Will disappear in 5s"><i
                                    class="fa fa-search" aria-hidden="true"></i></button>
                            <button class="rota" (click)="getAtivarRota()">
                                <img style="width: 2.3rem; position: relative;"
                                    src="../../../../assets/img/mapa/route.png">
                            </button>
                        </div>
                        <div *ngIf="ativarBtnRota == false" class="bloco-rota">
                            <input id="dateOfBirth" class="form-control" title="Ex: Rua xx, 10, SP" placeholder="Escolher destino..."
                                style="width: 90%; float: left;" [(ngModel)]="enderecoDestino">
                            <button class="pesquisaDestino" (click)="getAtivarResumo()"><i class="fa fa-search"
                                    aria-hidden="true"></i></button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card" *ngIf="ativarResumo">
                <div class="card-body">
                    <div class="input-group">
                        <h5>Resumo do local:</h5>
                        <div class="resumo">
                            <h6>Distancia</h6>
                            <p style="margin-bottom: 0%;">
                                <ngb-progressbar type="danger" [value]="distanciaRota" height="20px" [max]="6000">{{apiRotaGoogle[0].distance.text}}</ngb-progressbar>
                            </p>
                            <div class="progressbar-texto">
                                <p class="item-texto-esquerda">Perto</p>
                                <p class="item-texto-direita">Longe..</p>
                            </div>
                        </div>
                        <div class="resumo">
                            <h6>Tempo</h6>
                            <p style="margin-bottom: 0%;">
                                <ngb-progressbar type="warning" [value]="tempoRota" height="20px" [max]="5400">{{apiRotaGoogle[0].duration.text}}</ngb-progressbar>
                            </p>
                            <div class="progressbar-texto">
                                <p class="item-texto-esquerda">Rapidinho</p>
                                <p class="item-texto-direita">Mais lento</p>
                            </div>
                        </div>
                        <div class="resumo">
                            <h6>Calorias queimadas</h6>
                            <p style="margin-bottom: 0%;">
                                <button class="botao-esforco" (click)="openModalCaloria()">Calcular</button>
                            </p>
                        </div>
                        <div class="separador"></div>
                        <h5>Clima:</h5>
                        <div class="resumo">
                            <h6>Umidade do Ar</h6>
                            <p style="margin-bottom: 0%;">
                                <ngb-progressbar type="primary" [value]="umidadeClima" height="20px"></ngb-progressbar>
                            </p>
                            <div class="progressbar-texto">
                                <p class="item-texto-esquerda">Cuidado, tempo seco!</p>
                                <p class="item-texto-direita">Tempo úmido.</p>
                            </div>
                        </div>
                        <div class="resumo">
                            <h6>Temperatura</h6>
                            <p style="margin-bottom: 0%;">
                                <ngb-progressbar type="success" [value]="tempClima" [max]='40' height="20px">
                                </ngb-progressbar>
                            </p>
                            <div class="progressbar-texto">
                                <p class="item-texto-esquerda">Frioo</p>
                                <p class="item-texto-direita">Calorzinho</p>
                            </div>
                        </div>
                        <div class="separador"></div>
                        <h5 class="ask-like">Você irá de bicicleta hoje?</h5>
                        <button class="like" (click)="openModalLike(true)">
                            <i class="fa fa-heart" aria-hidden="true" id="icon-yes"></i>
                        </button>
                        <button class="like" (click)="openModalLike(false)">
                            <img id="icon-no" src="../../../../assets/img/mapa/icon-broken-heart.png">
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom">
        <agm-marker *ngIf="ativarBtnRota" [latitude]="lat" [longitude]="lng"></agm-marker>
        <agm-direction *ngIf="ativarBtnRota == false" [origin]="origin" [destination]="destination"></agm-direction>
    </agm-map>

</div>