#general {
    flex-direction: row;
    height: calc(43rem - 0px);
    position: relative;

}
agm-map {
  height: 100%;
 }

.pesquisa{
  background-color: transparent;
  border-color: transparent;
  border-right-color: #16a086;
  border-right-style: solid;
  padding: 0% 10%;
  font-size: 1.4rem;
}
.pesquisaDestino{
  background-color: transparent;
  border-color: transparent;
  padding: 0% 2%;
  font-size: 1.4rem;
  float: right;
  position: absolute;
}
.botao-esforco{
  font-size: 1.4rem;
  font-weight: bold;
  border: none;
  background-color: #16a086;
  border-radius: 9px;
  color: #ffff;
  padding: 0px 38%;
  margin: 0% 0% 1% 1%;
  cursor: pointer;
}

.rota{
  background-color: transparent;
  border-color: transparent;
  padding: 0% 10%;
   &.cancelar{
    font-size: 1.3rem;
    color: #16a086;
    padding: 0% 2% !important;
   }
}

div.x{ 
  position:absolute; 
  width: 100%;
  height: 100%;
}
div.x .y {
   position:relative;
   z-index:1;
}
.card{
  margin: 0.2rem 1%;
  width: 32%;
  .card-body{
    padding: 0.5rem 1.25rem !important;
  }
}
h5{
  color: rgba(0, 0, 0, 0.7);
}
.resumo{
  width: 100%;
  padding-left: 3%;
}
.progressbar-texto{
    font-size: 16px;
    line-height: 21px;
    opacity: 0.7;
    margin: 0%;
}
.item-texto-esquerda{
  float: left;
  margin-bottom: 1%;
}
.item-texto-direita{
  float: right;
  margin-bottom: 1%;
}
.separador{
  background-color: #16a086;
  height: 1px;
  width: 100%;
  margin: 1% 0%;
}
.ask-like{
  margin-top: 5%;
}
.like{
  width: 3rem;
  height: 3rem;
  border-radius: 100%;
  margin-left: 2%;
  border: none;
  background-color: transparent;
  border-width: medium;
  border-style: solid;
  border-color: #e8594b;
}

#icon-yes{
  color: #e8594b;
  font-size: 1.8rem;
  margin-top: 0.2rem;
}

#icon-no{
  margin: 21% 0%;
  width: 1.8rem;  
}
.bloco-rota{
  width: 100%;
  margin-top: 3%;
}

#cardResumo{
  position: absolute;
    left: 0px;
    margin: 16px;
    z-index: 15;
    transition: left 0.5s;
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
    transition-property: -webkit-transform,transform,visibility,opacity;
    transition-duration: 200ms;
    transition-timing-function: cubic-bezier(0.0,0.0,0.2,1);
}