#general {
    flex-direction: row;
    height: calc(42rem - 80px);

}
agm-map {
  height: 100%;
 }

.pesquisa{
  background-color: transparent;
  border-color: transparent;
  border-right-color: #16a086;
  border-right-style: solid;
  padding: 0% 4%;
  font-size: 1.4rem;
}

.rota{
  background-color: transparent;
  border-color: transparent;
  padding: 0% 1%;
}